# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/Users/wburn/Documents/Udacity/data-modeling-postgres/project2

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

#### Creating a Cluster

In [5]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])

# To establish connection and begin executing queries, need a session
    session = cluster.connect()
    
except Exception as e:
    print(e)

#### Create Keyspace

In [6]:
# Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [7]:
#Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

**Drop Tables If they Exist**

In [8]:
#Drop three tables if they already exist.
query = "DROP TABLE IF EXISTS session_info"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "DROP TABLE IF EXISTS user_session_info"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "DROP TABLE IF EXISTS who_played"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

# Part II. Execute Queries
### Question #1
Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

In [9]:
# Find the the artist, song title and song's length in the music app history that was heard during \
# sessionId = 338, and itemInSession = 4

# Create table to store information needed for Question #1
query = "CREATE TABLE IF NOT EXISTS session_info "
query = query + "(session_id int, session_item int, artist text, title text, length float, PRIMARY KEY (session_id, session_item))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [10]:
# Select new file created from log files
file = 'event_datafile_new.csv'

# Read through file line by line and insert selected information into table.
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO session_info (session_id, session_item, artist, title, length)"
        query = query + " VALUES (%s, %s, %s, %s, %s)"
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5]) ))

In [11]:
# Perform query to answer Question #1

query = "SELECT * FROM session_info WHERE session_id = 338 AND session_item = 4"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

# Convert output to DataFrame for readability
df = pd.DataFrame(columns=['Artist', 'Song Title', 'Song Length'])    
for row in rows:
    to_append = [row.artist, row.title, row.length]
    a_series = pd.Series(to_append, index = df.columns)
    df = df.append(a_series, ignore_index=True)
df

      Artist                       Song Title  Song Length
0  Faithless  Music Matters (Mark Knight Dub)   495.307312

### Question #2
Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [12]:
# Find the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
# for userid = 10, sessionid = 182

# Create table to store information needed for Question #2
query = "CREATE TABLE IF NOT EXISTS user_session_info "
query = query + "(user_id int, session_id int, session_item int, artist text, song text, user_first text, "
query = query + "user_last text, PRIMARY KEY (user_id, session_id, session_item))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [13]:
# Select new file created from log files
file = 'event_datafile_new.csv'

# Read through file line by line and insert selected information into table.
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO user_session_info (user_id, session_id, session_item, artist, song, user_first, user_last)"
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s)"
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], line[1], line[4]))

In [14]:
# Perform query to answer Question #2        
query = "SELECT artist, song, user_first, user_last FROM user_session_info WHERE user_id = 10 AND session_id = 182"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
df = pd.DataFrame(columns=['Artist', 'Song Title', 'User First Name', 'User Last Name'])
for row in rows:
    to_append = [row.artist, row.song, row.user_first, row.user_last]
    a_series = pd.Series(to_append, index = df.columns)
    df = df.append(a_series, ignore_index=True)
df

,Artist,Song Title,User First Name,User Last Name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### Question #3
Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [15]:
# Find every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

# Create table to store information needed for Question #3
query = "CREATE TABLE IF NOT EXISTS who_played "
query = query + "(song text, user_first text, user_last text, PRIMARY KEY (song, user_first, user_last))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [16]:
# Select new file created from log files
file = 'event_datafile_new.csv'

# Read through file line by line and insert selected information into table.
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO who_played (song, user_first, user_last)"
        query = query + " VALUES (%s, %s, %s)"
        session.execute(query, (line[9], line[1], line[4]))

In [17]:
# Perform query to answer Question #3 
query = "SELECT user_first, user_last FROM who_played WHERE song = 'All Hands Against His Own'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

df = pd.DataFrame(columns=['User First Name', 'User Last Name'])
for row in rows:
    to_append = [row.user_first, row.user_last]
    a_series = pd.Series(to_append, index = df.columns)
    df = df.append(a_series, ignore_index=True)
df

  User First Name User Last Name
0      Jacqueline          Lynch
1            Sara        Johnson
2           Tegan         Levine

### Drop the tables before closing out the sessions

In [18]:
query = "DROP TABLE IF EXISTS session_info"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [19]:
query = "DROP TABLE IF EXISTS user_session_info"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [20]:
query = "DROP TABLE IF EXISTS who_played"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

### Close the session and cluster connection

In [21]:
session.shutdown()
cluster.shutdown()